<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>A propos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">about</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <p>Qui sommes-nous ?</p>
    <p>Geocaching est une application mobile développée par une équipe de 1 personne.</p>
    <p>Elle a pour but de vous permettre de créer et de partager des géocaches avec d'autres utilisateurs.</p>
    <p>Vous pouvez également consulter les géocaches créées par les autres utilisateurs et les rechercher.</p>
    <p>Enfin, l'application vous propose des outils pour vous aider dans la création de vos géocaches.</p>
  </div>
</ion-content>
